/credentials.json
/node_modules/
/tmp/lastResponse.mp3
/tmp/responseOutput.html
/tokenGA.json
/MMM-GoogleAssistant.js
/node_helper.js
/components/**/*.js
/EXTs/EXT-*/EXT-*.js
/EXTs/EXT-*/node_helper.js
/EXTs/EXT-*/components/**/*.js
/EXTs/EXT-*/node_modules/
/EXTs/EXT-Detector/build/
/EXTs/EXT-Detector/bin/
/EXTs/EXT-Detector/components/lib/node/binding/*
/EXTs/EXT-Librespot/components/librespot/cache/credentials.json
/EXTs/EXT-Librespot/components/librespot/cache/files/*
/EXTs/EXT-Librespot/components/librespot/cache/volume
/EXTs/EXT-Librespot/components/sources/
/EXTs/EXT-MusicPlayer/cover/*.jpg
/EXTs/EXT-Spotify/tokenSpotify.json
/EXTs/EXT-TelegramBot/cache/*
/EXTs/EXT-TelegramBot/screenshot/screenshot_*.png
