/credentials.json
/node_modules/
/tmp/lastResponse.mp3
/tmp/responseOutput.html
/tokenGA.json
/MMM-GoogleAssistant.js
/node_helper.js
/components/*.js
/components/AssistantSDK/*.js
/EXTs/EXT-Background/EXT-Background.js
/EXTs/EXT-Background/node_helper.js
/EXTs/EXT-Browser/EXT-Browser.js
/EXTs/EXT-Browser/components/BrowserDisplay.js
/EXTs/EXT-Browser/node_helper.js
/EXTs/EXT-Detector/node_modules/
/EXTs/EXT-Detector/build/
/EXTs/EXT-Detector/bin/
/EXTs/EXT-Detector/components/lib/node/binding/*
/EXTs/EXT-Detector/components/lib/node/index.js
/EXTs/EXT-Detector/EXT-Detector.js
/EXTs/EXT-Detector/node_helper.js
/EXTs/EXT-Detector/components/*.js
/EXTs/EXT-FreeboxTV/node_modules/
/EXTs/EXT-FreeboxTV/EXT-FreeboxTV.js
/EXTs/EXT-FreeboxTV/node_helper.js
/EXTs/EXT-Touch/EXT-Touch.js
/EXTs/EXT-Touch/components/visual.js
/EXTs/EXT-Touch/node_helper.js
/EXTs/EXT-GooglePhotos/node_modules/
/EXTs/EXT-GooglePhotos/EXT-GooglePhotos.js
/EXTs/EXT-GooglePhotos/components/GooglePhotosLib.js
/EXTs/EXT-GooglePhotos/node_helper.js
/EXTs/EXT-Keyboard/EXT-Keyboard.js
/EXTs/EXT-Keyboard/node_helper.js
